*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

body{
    background-color: #0a1428;
    align-items: center;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    width: 100%;
    height: 60px;
    color: white;
    font-weight: bold;
    font-size: 40px;

}

section[name=details]{
    
}

#detail_name{
    color:#fff;
    background-color: #C8AA6E;
    width: fit-content;
}

#player_details{
    background-color: #FFF;
    width: 600px;
    height: 200px;
}

#players_ranking{
    background-color: #FFF;
    width: 900px;
    margin-top: 40px;
}